In [47]:
# import
from IPython.display import HTML
import numpy as np
import bs4
import time
import operator
import socket
import re
import urllib

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

from secret import *
import json

### Read the user data

In [2]:
# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
                    sep='|', 
                    names=u_cols)
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

### Read the ratings

In [3]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
            'http://files.grouplens.org/datasets/movielens/ml-100k/u.data',
            sep='\t',
            names=r_cols)
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

### Data about the movies

In [4]:
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('http://files.grouplens.org/datasets/movielens/ml-100k/u.item', sep='|', names=m_cols, usecols=range(5))
movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

### Get infomation about data

In [5]:
print(movies.dtypes)
print()
print(movies.describe())

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object

          movie_id  video_release_date
count  1682.000000                   0
mean    841.500000                 NaN
std     485.695893                 NaN
min       1.000000                 NaN
25%     421.250000                 NaN
50%     841.500000                 NaN
75%    1261.750000                 NaN
max    1682.000000                 NaN

### Selecting data

In [6]:
print(users.head())
print(users['occupation'].head())
columns_you_want = ['occupation', 'sex']
print(users[columns_you_want].head())

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213
0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object
   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F

### Filtering data

In [7]:
oldUsers = users[users.age > 25]
oldUsers.head()

   user_id  age sex     occupation zip_code
1        2   53   F          other    94043
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201

### Quizz
- Show users aged 40 and male <br/>
- Show the mean age of female programmers

In [8]:
# users aged 40 and male
users[(users.sex=='M') & (users.age==40)].head()

     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232
199      200   40   M  programmer    93402
283      284   40   M   executive    92629

In [9]:
# the mean age of female programmers
users[(users.sex=='F') & (users.occupation=='programmer')].age.mean()

32.166666666666664

### Split-apply-combine
- splitting the data into groups based on some criteria
- applying a function to each group independently
- combining the results into data structure

http://i.imgur.com/yjNkiwL.png

in Pandas, 
- it's call groupby (split part)
- apply (count function) and combine (assign to other)

In [10]:
# split data
#grouped_data = ratings.groupby(ratings['user_id'])
grouped_data = ratings['movie_id'].groupby(ratings['user_id'])

#count and combine
rating_per_user = grouped_data.count()
rating_per_user.head()

user_id
1    272
2     62
3     54
4     24
5    175
dtype: int64

### Quiz
- get the average rating per movie
- advanced: get the movie titles with the highest average rating

In [36]:
# get avg rating per movie
grouped_data = ratings['rating'].groupby(ratings['movie_id'])
avg_ratings = grouped_data.mean()
print(avg_ratings.head())

movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
Name: rating, dtype: float64

In [37]:
# advanced: get the movie titles with the highest average rating
highest_avg_rating = avg_ratings.max()
good_movie_ids = avg_ratings[avg_ratings == highest_avg_rating].index
print('movie id')
print(good_movie_ids)
print('movie title')
print(movies[movies.movie_id.isin(good_movie_ids)].title)
print('Number of ratings per movies')
how_many_rating = rating_per_movie.count()
print(how_many_rating[avg_ratings == highest_avg_rating])

movie id
Int64Index([814, 1122, 1189, 1201, 1293, 1467, 1500, 1536, 1599, 1653], dtype='int64', name='movie_id')
movie title
813                         Great Day in Harlem, A (1994)
1121                       They Made Me a Criminal (1939)
1188                                   Prefontaine (1997)
1200           Marlene Dietrich: Shadow and Light (1996)
1292                                      Star Kid (1997)
1466                 Saint of Fort Washington, The (1993)
1499                            Santa with Muscles (1996)
1535                                 Aiqing wansui (1994)
1598                        Someone Else's America (1995)
1652    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object
Number of ratings per movies
movie_id
814     1
1122    1
1189    3
1201    1
1293    3
1467    2
1500    2
1536    1
1599    1
1653    1
dtype: int64

### Passing a Function

In [38]:
avg_ratings = grouped_data.apply(lambda f: f.mean())
avg_ratings.head()

movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
dtype: float64

### Scraping with Python

In [44]:
url = 'http://www.crummy.com/software/BeautifulSoup'
source = urllib.request.urlopen(url).read()
print(source)

b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"\n"http://www.w3.org/TR/REC-html40/transitional.dtd">\n<html>\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=utf-8">\n<title>Beautiful Soup: We called him Tortoise because he taught us.</title>\n<link rev="made" href="mailto:leonardr@segfault.org">\n<link rel="stylesheet" type="text/css" href="/nb/themes/Default/nb.css">\n<meta name="Description" content="Beautiful Soup: a library designed for screen-scraping HTML and XML.">\n<meta name="generator" content="Markov Approximation 1.4 (module: leonardr)">\n<meta name="author" content="Leonard Richardson">\n</head>\n<body bgcolor="white" text="black" link="blue" vlink="660066" alink="red">\n<img align="right" src="10.1.jpg" width="250"><br />\n\n<p>You didn\'t write that awful page. You\'re just trying to get some\ndata out of it. Beautiful Soup is here to help. Since 2004, it\'s been\nsaving programmers hours or days of work on quick-turnaround\nscreen scraping projects.</p>\n\n<div align="center">\n\n<a href="bs4/download/"><h1>Beautiful Soup</h1></a>\n\n<p>"A tremendous boon." -- Python411 Podcast</p>\n\n<p>[ <a href="#Download">Download</a> | <a\nhref="bs4/doc/">Documentation</a> | <a href="#HallOfFame">Hall of Fame</a> | <a href="https://code.launchpad.net/beautifulsoup">Source</a> | <a href="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">Discussion group</a> ]</p>\n\n<small>If Beautiful Soup has saved you a lot of time and money, the\nbest way to pay me back is to check out <a\nhref="http://www.candlemarkandgleam.com/shop/constellation-games/"><i>Constellation\nGames</i>, my sci-fi novel about alien video games</a>.<br />You can\n<a\nhref="http://constellation.crummy.com/Constellation%20Games%20excerpt.html">read\nthe first two chapters for free</a>, and the full novel starts at 5\nUSD. Thanks!</small> </div>\n\n<p><i>If you have questions, send them to <a\nhref="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">the discussion\ngroup</a>. If you find a bug, <a href="https://bugs.launchpad.net/beautifulsoup/">file it</a>.</i></p>\n\n<p>Beautiful Soup is a Python library designed for quick turnaround\nprojects like screen-scraping. Three features make it powerful:\n\n<ol>\n\n<li>Beautiful Soup provides a few simple methods and Pythonic idioms\nfor navigating, searching, and modifying a parse tree: a toolkit for\ndissecting a document and extracting what you need. It doesn\'t take\nmuch code to write an application\n\n<li>Beautiful Soup automatically converts incoming documents to\nUnicode and outgoing documents to UTF-8. You don\'t have to think\nabout encodings, unless the document doesn\'t specify an encoding and\nBeautiful Soup can\'t detect one. Then you just have to specify the\noriginal encoding.\n\n<li>Beautiful Soup sits on top of popular Python parsers like <a\nhref="http://lxml.de/">lxml</a> and <a\nhref="http://code.google.com/p/html5lib/">html5lib</a>, allowing you\nto try out different parsing strategies or trade speed for\nflexibility.\n\n</ol>\n\n<p>Beautiful Soup parses anything you give it, and does the tree\ntraversal stuff for you. You can tell it "Find all the links", or\n"Find all the links of class <tt>externalLink</tt>", or "Find all the\nlinks whose urls match "foo.com", or "Find the table heading that\'s\ngot bold text, then give me that text."\n\n<p>Valuable data that was once locked up in poorly-designed websites\nis now within your reach. Projects that would have taken hours take\nonly minutes with Beautiful Soup.\n\n<p>Interested? <a href="bs4/doc/">Read more.</a>\n\n<a name="Download"><h2>Download Beautiful Soup</h2></a>\n\n<p>The current release is <a href="bs4/download/">Beautiful Soup\n4.4.1</a> (September 28, 2015). You can install Beautiful Soup 4 with\n<code>pip install beautifulsoup4</code>. It\'s also available as the\n<code>python-beautifulsoup4</code> package in Debian, Ubuntu, and\nFedora.\n\n<p>Beautiful Soup 4 works on both Python 2 (2.6+) and Python 3.\n\n<p>Beautiful Soup is licensed under the MIT license, so you can also\ndownload the tarball, drop the <code>bs4/</code> directory into almost\nany Python application (or into your library path) and start using it\nimmediately. (If you want to do this under Python 3, you will need to\nmanually convert the code using <code>2to3</code>.)\n\n<h3>Beautiful Soup 3</h3>\n\n<p>Beautiful Soup 3 was the official release line of Beautiful Soup\nfrom May 2006 to March 2012. It is considered stable, and only\ncritical security bugs will be fixed. <a\nhref="http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html">Here\'s\nthe Beautiful Soup 3 documentation.</a>\n\n<p>Beautiful Soup 3 works only under Python 2.x. It is licensed under\nthe same license as Python itself.\n\n<p>The current release of Beautiful Soup 3 is <a\nhref="download/3.x/BeautifulSoup-3.2.1.tar.gz">3.2.1</a> (February 16,\n2012). You can install Beautiful Soup 3 with <code>pip install\nBeautifulSoup</code>. It\'s also available as\n<code>python-beautifulsoup</code> in Debian and Ubuntu, and as\n<code>python-BeautifulSoup</code> in Fedora.\n\n<p>You can also download the tarball and use\n<code>BeautifulSoup.py</code> in your project directly.\n\n\n<a name="HallOfFame"><h2>Hall of Fame</h2></a>\n\n<p>Over the years, Beautiful Soup has been used in hundreds of\ndifferent projects. There\'s no way I can list them all, but I want to\nhighlight a few high-profile projects. Beautiful Soup isn\'t what makes\nthese projects interesting, but it did make their completion easier:\n\n<ul>\n\n<li><a\n href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable\n Type"</a>, a work of digital art on display in the lobby of the New\n York Times building, uses Beautiful Soup to scrape news feeds.\n\n<li>Reddit uses Beautiful Soup to <a\nhref="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse\na page that\'s been linked to and find a representative image</a>.\n\n<li>Alexander Harrowell uses Beautiful Soup to <a\n href="http://www.harrowell.org.uk/viktormap.html">track the business\n activities</a> of an arms merchant.\n\n<li>The developers of Python itself used Beautiful Soup to <a\nhref="http://svn.python.org/view/tracker/importer/">migrate the Python\nbug tracker from Sourceforge to Roundup</a>.\n\n<li>The <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>\nuses Beautiful Soup to <A\nhref="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather\nstatewide election results</a>.\n\n<li>The <a href="http://esrl.noaa.gov/gsd/fab/">NOAA\'s Forecast\nApplications Branch</a> uses Beautiful Soup in <a\nhref="http://laps.noaa.gov/topograbber/">TopoGrabber</a>, a script for\ndownloading "high resolution USGS datasets."\n\n</ul>\n\n<p>If you\'ve used Beautiful Soup in a project you\'d like me to know\nabout, please do send email to me or <a\nhref="http://groups.google.com/group/beautifulsoup/">the discussion\ngroup</a>.\n\n<h2>Development</h2>\n\n<p>Development happens at <a\nhref="https://launchpad.net/beautifulsoup">Launchpad</a>. You can <a\nhref="https://code.launchpad.net/beautifulsoup/">get the source\ncode</a> or <a href="https://bugs.launchpad.net/beautifulsoup/">file\nbugs</a>.<hr><table><tr><td valign="top">\n<p>This document (<a href="/source/software/BeautifulSoup/index.bhtml">source</a>) is part of Crummy, the webspace of <a href="/self/">Leonard Richardson</a> (<a href="/self/contact.html">contact information</a>). It was last modified on Tuesday, September 29 2015, 00:25:43 Nowhere Standard Time and last built on Tuesday, March 15 2016, 16:00:01 Nowhere Standard Time.</p><p><table class="licenseText"><tr><td><a href="http://creativecommons.org/licenses/by-sa/2.0/"><img border="0" src="/nb//resources/img/somerights20.jpg"></a></td><td valign="top">Crummy is &copy; 1996-2016 Leonard Richardson. Unless otherwise noted, all text licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons License</a>.</td></tr></table></span><!--<rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><Work rdf:about="http://www.crummy.com/"><dc:title>Crummy: The Site</dc:title><dc:rights><Agent><dc:title>Crummy: the Site</dc:title></Agent></dc:rights><dc:format>text/html</dc:format><license rdf:resource=http://creativecommons.org/licenses/by-sa/2.0//></Work><License rdf:about="http://creativecommons.org/licenses/by-sa/2.0/"></License></rdf:RDF>--></p></td><td valign=top><p><b>Document tree:</b>\n<dl><dd><a href="http://www.crummy.com/">http://www.crummy.com/</a><dl><dd><a href="http://www.crummy.com/software/">software/</a><dl><dd><a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup/</a></dl>\n</dl>\n</dl>\n\n\nSite Search:\n\n<form method="get" action="/search/">\n        <input type="text" name="q" maxlength="255" value=""></input>\n        </form>\n        </td>\n\n</tr>\n\n</table>\n</body>\n</html>\n'

### JSON
- JavaScript Object Notation
- human readable
- transmit attribute-value pairs

In [52]:
a= {'a': 1, 'b':2}
s = json.dumps(a)
a2 = json.loads(s)
print(s)
print(a2)

{"a": 1, "b": 2}
{'a': 1, 'b': 2}