In [60]:
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

## Populating database

In [61]:
ourschema = """
DROP TABLE IF EXISTS "candidates";
DROP TABLE IF EXISTS "contributors";
CREATE TABLE "candidates" (
    "id" INTEGER PRIMARY KEY NOT NULL,
    "first_name" VARCHAR,
    "last_name" VARCHAR,
    "middle_name" VARCHAR,
    "party" VARCHAR NOT NULL
);
CREATE TABLE "contributors" (
    "id" INTEGER PRIMARY KEY  AUTOINCREMENT  NOT NULL,
    "last_name" VARCHAR,
    "first_name" VARCHAR,
    "middle_name" VARCHAR,
    "street_1" VARCHAR,
    "street_2" VARCHAR,
    "city" VARCHAR,
    "state" VARCHAR,
    "zip" VARCHAR,
    "amount" INTEGER,
    "date" DATETIME,
    "candidate_id" INTEGER NOT NULL,
    FOREIGN KEY(candidate_id) REFERENCES candidates(id)
)
"""

### SQLITE

In [62]:
# Sqlite is a text or memory based database. Connecte and get a DBAPI2 connection
from sqlite3 import dbapi2 as sq3
import os
PATSTART = "."
def get_db(dbfile):
    sqlite_db = sq3.connect(os.path.join(PATSTART, dbfile))
    return sqlite_db

In [63]:
def init_db(dbfile, schema):
    """Creates the database tables."""
    db = get_db(dbfile)
    db.cursor().executescript(schema)
    db.commit()
    return db

In [64]:
# use Pandas to read in the data.
dfcand = pd.read_csv('candidates.txt', sep='|')
dfcwci = pd.read_csv('contributors_with_candidate_id.txt',sep='|')
del dfcwci['id']
dfcwci.head()

  last_name first_name middle_name                street_1 street_2         city state    zip  amount        date  candidate_id
0      Agee     Steven         NaN  549 Laurel Branch Road      NaN        Floyd    VA  24091     500  2007-06-30            16
1    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566     250  2007-05-16            16
2    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566      50  2007-06-18            16
3    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566     100  2007-06-21            16
4      Akin    Charles         NaN  10187 Sugar Creek Road      NaN  Bentonville    AR  72712     100  2007-06-16            16

### Init
Initializing the database

In [65]:
db = init_db('cancont.db', ourschema)

### Populating with Pandas!!

In [66]:
dfcand.to_sql("candidates", db, if_exists="append", index=False)

In [67]:
dfcwci.to_sql("contributors", db, if_exists="append", index=False)

In [68]:
dfcwci

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091     500  2007-06-30            16
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566     250  2007-05-16            16
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566      50  2007-06-18            16
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566     100  2007-06-21            16
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712     100  2007-06-16            16
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655    1500  2007-05-18            16
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655     500  2007-05-18            16
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024     250  2007-06-06            16
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860    1000  2007-06-11            16
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860    1300  2007-06-29            16
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033    1000  2007-05-18            16
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227    1000  2007-04-25            16
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227     200  2007-06-12            16
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903    2300  2007-06-21            16
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266     250  2007-06-06            16
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913    2300  2007-06-12            16
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143     500  2007-04-08            16
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143     100  2007-06-22            16
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504      50  2007-06-28            16
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603    1000  2007-05-18            16
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603    1000  2007-06-27            16
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034    2300  2007-04-11            16
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123     250  2007-04-24            16
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225    1000  2007-05-14            16
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502     500  2007-05-23            16
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306      50  2007-07-30            20
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306      25  2007-08-16            20
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731     100  2007-09-19            20
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130    2300  2007-08-14            20
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130   -2300  2007-08-14            20
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440      50  2007-09-30            35
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269     100  2007-09-29            35
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269      50  2007-08-09            35
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946     100  2007-09-15            35
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946     100  2007-08-15            35
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164     500  2008-01-21            37
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326      75  2008-01-08            37
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326      50  2008-01-08            37
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551     200  2008-01-31            37
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551     100  2008-01-08            37
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763     500  2008-01-21            37
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810    1000  2008-01-15            37
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114     200  2008-01-21            37
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274      35  2008-01-07            37
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832    2600  2008-01-25            37
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150      25  2008-01-09            37
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524     150  2008-01-28            37
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207     300  2008-01-30            37
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207     410  2008-01-15            37
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207     500  2008-01-09            37
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316     200  2008-01-22            37
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069     100  2008-01-22            37
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337     100  2008-01-08            37
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823     500  2008-01-15            37
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270     500  2008-01-30            37
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121     120  2008-01-16            37
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504     800  2008-01-17            37
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207      50  2008-01-25            37
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007    1000  2008-01-17            37
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007    1300  2008-01-30            37

[175 rows x 11 columns]

In [69]:
sql = """
SELECT * FROM candidates;
"""
c=db.cursor().execute(sql)
c.fetchall()

[(16, 'Mike', 'Huckabee', None, 'R'),
 (20, 'Barack', 'Obama', None, 'D'),
 (22, 'Rudolph', 'Giuliani', None, 'R'),
 (24, 'Mike', 'Gravel', None, 'D'),
 (26, 'John', 'Edwards', None, 'D'),
 (29, 'Bill', 'Richardson', None, 'D'),
 (30, 'Duncan', 'Hunter', None, 'R'),
 (31, 'Dennis', 'Kucinich', None, 'D'),
 (32, 'Ron', 'Paul', None, 'R'),
 (33, 'Joseph', 'Biden', None, 'D'),
 (34, 'Hillary', 'Clinton', 'R.', 'D'),
 (35, 'Mitt', 'Romney', None, 'R'),
 (36, 'Samuel', 'Brownback', None, 'R'),
 (37, 'John', 'McCain', None, 'R'),
 (38, 'Tom', 'Tancredo', None, 'R'),
 (39, 'Christopher', 'Dodd', 'J.', 'D'),
 (41, 'Fred', 'Thompson', 'D.', 'R')]

In [70]:
rem = """
DELETE FROM candidates;
"""
c = db.cursor().execute(rem)
db.commit()
c.fetchall()

[]

#### Populate with SQL INSERT

In [71]:
ins = """
INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
"""
with open("candidates.txt") as fd:
    slines = [l.strip().split('|') for l in fd.readlines()]
    for line in slines[1:]:
        theid, first_name, last_name, middle_name, party = line
        print (theid, first_name, last_name, middle_name, party)
        valstoinsert = (int(theid), first_name, last_name, middle_name, party)
        print (ins, valstoinsert)
        db.cursor().execute(ins, valstoinsert)

33 Joseph Biden  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (33, 'Joseph', 'Biden', '', 'D')
36 Samuel Brownback  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (36, 'Samuel', 'Brownback', '', 'R')
34 Hillary Clinton R. D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (34, 'Hillary', 'Clinton', 'R.', 'D')
39 Christopher Dodd J. D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (39, 'Christopher', 'Dodd', 'J.', 'D')
26 John Edwards  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (26, 'John', 'Edwards', '', 'D')
22 Rudolph Giuliani  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (22, 'Rudolph', 'Giuliani', '', 'R')
24 Mike Gravel  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (24, 'Mike', 'Gravel', '', 'D')
16 Mike Huckabee  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (16, 'Mike', 'Huckabee', '', 'R')
30 Duncan Hunter  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (30, 'Duncan', 'Hunter', '', 'R')
31 Dennis Kucinich  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (31, 'Dennis', 'Kucinich', '', 'D')
37 John McCain  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (37, 'John', 'McCain', '', 'R')
20 Barack Obama  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (20, 'Barack', 'Obama', '', 'D')
32 Ron Paul  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (32, 'Ron', 'Paul', '', 'R')
29 Bill Richardson  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (29, 'Bill', 'Richardson', '', 'D')
35 Mitt Romney  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (35, 'Mitt', 'Romney', '', 'R')
38 Tom Tancredo  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (38, 'Tom', 'Tancredo', '', 'R')
41 Fred Thompson D. R

INSERT INTO candidates (id, first_name, last_name, middle_name, party) VALUES (?, ?, ?, ?, ?);
 (41, 'Fred', 'Thompson', 'D.', 'R')

In [72]:
def make_query(sql):
    c=db.cursor().execute(sql);
    return c.fetchall()

In [73]:
make_query("SELECT * FROM candidates;")

[(16, 'Mike', 'Huckabee', '', 'R'),
 (20, 'Barack', 'Obama', '', 'D'),
 (22, 'Rudolph', 'Giuliani', '', 'R'),
 (24, 'Mike', 'Gravel', '', 'D'),
 (26, 'John', 'Edwards', '', 'D'),
 (29, 'Bill', 'Richardson', '', 'D'),
 (30, 'Duncan', 'Hunter', '', 'R'),
 (31, 'Dennis', 'Kucinich', '', 'D'),
 (32, 'Ron', 'Paul', '', 'R'),
 (33, 'Joseph', 'Biden', '', 'D'),
 (34, 'Hillary', 'Clinton', 'R.', 'D'),
 (35, 'Mitt', 'Romney', '', 'R'),
 (36, 'Samuel', 'Brownback', '', 'R'),
 (37, 'John', 'McCain', '', 'R'),
 (38, 'Tom', 'Tancredo', '', 'R'),
 (39, 'Christopher', 'Dodd', 'J.', 'D'),
 (41, 'Fred', 'Thompson', 'D.', 'R')]

### Query

In [74]:
dfcwci.query("state=='VA' & amount < 400")

     last_name first_name middle_name                     street_1 street_2             city state        zip  amount        date  candidate_id
27    Buckheit      Bruce         NaN                8904 KAREN DR      NaN          FAIRFAX    VA  220312731  100.00  2007-09-19            20
77   Ranganath      Anoop         NaN           2507 Willard Drive      NaN  Charlottesville    VA      22903 -100.00  2008-04-21            32
88   Perreault     Louise         NaN    503 Brockridge Hunt Drive      NaN          Hampton    VA      23666  -34.08  2008-04-21            32
145    ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340      NaN          FAIRFAX    VA  220308440   50.00  2007-09-30            35

In [75]:
dfcwci[(dfcwci.state=='VA') & (dfcwci.amount < 400)]

     last_name first_name middle_name                     street_1 street_2             city state        zip  amount        date  candidate_id
27    Buckheit      Bruce         NaN                8904 KAREN DR      NaN          FAIRFAX    VA  220312731  100.00  2007-09-19            20
77   Ranganath      Anoop         NaN           2507 Willard Drive      NaN  Charlottesville    VA      22903 -100.00  2008-04-21            32
88   Perreault     Louise         NaN    503 Brockridge Hunt Drive      NaN          Hampton    VA      23666  -34.08  2008-04-21            32
145    ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340      NaN          FAIRFAX    VA  220308440   50.00  2007-09-30            35

In [76]:
cont_cols = [e[1] for e in make_query("PRAGMA table_info(contributors);")]
cont_cols

['id',
 'last_name',
 'first_name',
 'middle_name',
 'street_1',
 'street_2',
 'city',
 'state',
 'zip',
 'amount',
 'date',
 'candidate_id']

In [83]:
def make_frame(list_of_tubles, legend=cont_cols):
    framelist = []
    for i, cname in enumerate(legend):
        framelist.append((cname, [e[i] for e in list_of_tubles]))
    return pd.DataFrame.from_items(framelist)

In [84]:
out = make_query("SELECT * FROM contributors where state = 'VA' AND amount < 400;")
print(out)
make_frame(out)

[(28, 'Buckheit', 'Bruce', None, '8904 KAREN DR', None, 'FAIRFAX', 'VA', '220312731', 100, '2007-09-19', 20), (78, 'Ranganath', 'Anoop', None, '2507 Willard Drive', None, 'Charlottesville', 'VA', '22903', -100, '2008-04-21', 32), (89, 'Perreault', 'Louise', None, '503 Brockridge Hunt Drive', None, 'Hampton', 'VA', '23666', -34.08, '2008-04-21', 32), (146, 'ABDELLA', 'THOMAS', 'M.', '4231 MONUMENT WALL WAY #340', None, 'FAIRFAX', 'VA', '220308440', 50, '2007-09-30', 35)]

    id  last_name first_name middle_name                     street_1 street_2             city state        zip  amount        date  candidate_id
0   28   Buckheit      Bruce        None                8904 KAREN DR     None          FAIRFAX    VA  220312731  100.00  2007-09-19            20
1   78  Ranganath      Anoop        None           2507 Willard Drive     None  Charlottesville    VA      22903 -100.00  2008-04-21            32
2   89  Perreault     Louise        None    503 Brockridge Hunt Drive     None          Hampton    VA      23666  -34.08  2008-04-21            32
3  146    ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340     None          FAIRFAX    VA  220308440   50.00  2007-09-30            35

In [85]:
out = make_query("SELECT * FROM contributors WHERE state IS NULL;")
make_frame(out)

    id last_name first_name middle_name       street_1 street_2        city state   zip  amount        date  candidate_id
0  126    BOURNE     TRAVIS        None  LAGE KAART 77     None  BRASSCHATT  None  2930    -500  2008-11-20            35

In [86]:
dfcwci[dfcwci.state.isnull()]

    last_name first_name middle_name       street_1 street_2        city state   zip  amount        date  candidate_id
125    BOURNE     TRAVIS         NaN  LAGE KAART 77      NaN  BRASSCHATT   NaN  2930    -500  2008-11-20            35

In [94]:
out = make_query("SELECT * FROM contributors WHERE state IS NOT NULL;")
make_frame(out).shape

(174, 12)

In [95]:
dfcwci[dfcwci.state.notnull()].shape

(174, 11)

In [98]:
out = make_query("SELECT * FROM contributors WHERE state in ('VA', 'WA');")
make_frame(out).head()

   id  last_name first_name middle_name                   street_1 street_2             city state        zip  amount        date  candidate_id
0   1       Agee     Steven        None     549 Laurel Branch Road     None            Floyd    VA      24091  500.00  2007-06-30            16
1  28   Buckheit      Bruce        None              8904 KAREN DR     None          FAIRFAX    VA  220312731  100.00  2007-09-19            20
2  63      BURKE    SUZANNE          M.              3401 EVANSTON     None          SEATTLE    WA  981038677 -700.00  2008-03-05            22
3  78  Ranganath      Anoop        None         2507 Willard Drive     None  Charlottesville    VA      22903 -100.00  2008-04-21            32
4  89  Perreault     Louise        None  503 Brockridge Hunt Drive     None          Hampton    VA      23666  -34.08  2008-04-21            32

In [99]:
dfcwci[dfcwci.state.isin(['VA', 'WA'])].head()

    last_name first_name middle_name                   street_1 street_2             city state        zip  amount        date  candidate_id
0        Agee     Steven         NaN     549 Laurel Branch Road      NaN            Floyd    VA      24091  500.00  2007-06-30            16
27   Buckheit      Bruce         NaN              8904 KAREN DR      NaN          FAIRFAX    VA  220312731  100.00  2007-09-19            20
62      BURKE    SUZANNE          M.              3401 EVANSTON      NaN          SEATTLE    WA  981038677 -700.00  2008-03-05            22
77  Ranganath      Anoop         NaN         2507 Willard Drive      NaN  Charlottesville    VA      22903 -100.00  2008-04-21            32
88  Perreault     Louise         NaN  503 Brockridge Hunt Drive      NaN          Hampton    VA      23666  -34.08  2008-04-21            32

In [100]:
dfcwci['name'] = dfcwci['last_name'] + ", " + dfcwci['first_name']
dfcwci.head()

  last_name first_name middle_name                street_1 street_2         city state    zip  amount        date  candidate_id           name
0      Agee     Steven         NaN  549 Laurel Branch Road      NaN        Floyd    VA  24091     500  2007-06-30            16   Agee, Steven
1    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566     250  2007-05-16            16    Ahrens, Don
2    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566      50  2007-06-18            16    Ahrens, Don
3    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566     100  2007-06-21            16    Ahrens, Don
4      Akin    Charles         NaN  10187 Sugar Creek Road      NaN  Bentonville    AR  72712     100  2007-06-16            16  Akin, Charles

In [101]:
dfcwci.assign(ucname=dfcwci.last_name +":"+dfcwci.first_name).head()

  last_name first_name middle_name                street_1 street_2         city state    zip  amount        date  candidate_id           name        ucname
0      Agee     Steven         NaN  549 Laurel Branch Road      NaN        Floyd    VA  24091     500  2007-06-30            16   Agee, Steven   Agee:Steven
1    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566     250  2007-05-16            16    Ahrens, Don    Ahrens:Don
2    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566      50  2007-06-18            16    Ahrens, Don    Ahrens:Don
3    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566     100  2007-06-21            16    Ahrens, Don    Ahrens:Don
4      Akin    Charles         NaN  10187 Sugar Creek Road      NaN  Bentonville    AR  72712     100  2007-06-16            16  Akin, Charles  Akin:Charles

In [102]:
dfcwci[dfcwci.state=='VA']

     last_name first_name middle_name                     street_1 street_2             city state        zip  amount        date  candidate_id               name
0         Agee     Steven         NaN       549 Laurel Branch Road      NaN            Floyd    VA      24091  500.00  2007-06-30            16       Agee, Steven
27    Buckheit      Bruce         NaN                8904 KAREN DR      NaN          FAIRFAX    VA  220312731  100.00  2007-09-19            20    Buckheit, Bruce
77   Ranganath      Anoop         NaN           2507 Willard Drive      NaN  Charlottesville    VA      22903 -100.00  2008-04-21            32   Ranganath, Anoop
88   Perreault     Louise         NaN    503 Brockridge Hunt Drive      NaN          Hampton    VA      23666  -34.08  2008-04-21            32  Perreault, Louise
145    ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340      NaN          FAIRFAX    VA  220308440   50.00  2007-09-30            35    ABDELLA, THOMAS

In [105]:
dfcwci.loc[dfcwci.state=='VA', 'name']

0           Agee, Steven
27       Buckheit, Bruce
77      Ranganath, Anoop
88     Perreault, Louise
145      ABDELLA, THOMAS
Name: name, dtype: object

In [112]:
alt = "ALTER TABLE contributors ADD column name;"
db.cursor().execute(alt)

In [107]:
make_query("PRAGMA table_info(contributors);")

[(0, 'id', 'INTEGER', 1, None, 1),
 (1, 'last_name', 'VARCHAR', 0, None, 0),
 (2, 'first_name', 'VARCHAR', 0, None, 0),
 (3, 'middle_name', 'VARCHAR', 0, None, 0),
 (4, 'street_1', 'VARCHAR', 0, None, 0),
 (5, 'street_2', 'VARCHAR', 0, None, 0),
 (6, 'city', 'VARCHAR', 0, None, 0),
 (7, 'state', 'VARCHAR', 0, None, 0),
 (8, 'zip', 'VARCHAR', 0, None, 0),
 (9, 'amount', 'INTEGER', 0, None, 0),
 (10, 'date', 'DATETIME', 0, None, 0),
 (11, 'candidate_id', 'INTEGER', 1, None, 0)]

In [110]:
out = make_query("SELECT id, last_name, first_name from contributors;")
out2 = [(e[1] + ", " + e[2], e[0]) for e in out]
out2

[('Agee, Steven', 1),
 ('Ahrens, Don', 2),
 ('Ahrens, Don', 3),
 ('Ahrens, Don', 4),
 ('Akin, Charles', 5),
 ('Akin, Mike', 6),
 ('Akin, Rebecca', 7),
 ('Aldridge, Brittni', 8),
 ('Allen, John D.', 9),
 ('Allen, John D.', 10),
 ('Allison, John W.', 11),
 ('Allison, Rebecca', 12),
 ('Allison, Rebecca', 13),
 ('Altes, R.D.', 14),
 ('Andres, Dale', 15),
 ('Anthony, John', 16),
 ('Arbogast, Robert', 17),
 ('Arbogast, Robert', 18),
 ('Ardle, William', 19),
 ('Atiq, Omar', 20),
 ('Atiq, Omar', 21),
 ('Baker, David', 22),
 ('Bancroft, David', 23),
 ('Banks, Charles', 24),
 ('Barbee, John', 25),
 ('Buckler, Steve', 26),
 ('Buckler, Steve', 27),
 ('Buckheit, Bruce', 28),
 ('Buckel, Linda', 29),
 ('Buckel, Linda', 30),
 ('Buckel, Linda', 31),
 ('Buck, Thomas', 32),
 ('Buck, Jay', 33),
 ('Buck, Blaine', 34),
 ('Buck, Barbara', 35),
 ('Buck, Barbara', 36),
 ('Buchman, Mark M', 37),
 ('Bucher, Ida', 38),
 ('Buchanek, Elizabeth', 39),
 ('Buchanan, John', 40),
 ('Buchanan, John', 41),
 ('Buchanan, John', 42),
 ('Buchanan, John', 43),
 ('Buchanan, John', 44),
 ('Buchanan, John', 45),
 ('Buchanan, John', 46),
 ('Buchanan, John', 47),
 ('Buchanan, John', 48),
 ('Buchanan, John', 49),
 ('Harrison, Ryan', 50),
 ('BYNUM, HERBERT', 51),
 ('BYINGTON, MARGARET', 52),
 ('BYERS, BOB', 53),
 ('BYERS, AUDREY', 54),
 ('BUSH, KRYSTIE', 55),
 ('BUSH, ERIC', 56),
 ('BURTON, SUSAN', 57),
 ('BURTON, STEVEN', 58),
 ('BURTON, GLENN', 59),
 ('BURKHARDT, CRAIG', 60),
 ('BURKHARDT, CRAIG', 61),
 ('BURKHARDT, BARBARA', 62),
 ('BURKE, SUZANNE', 63),
 ('BURKE, GAIL', 64),
 ('BURKE, DONALD', 65),
 ('BURGERT, RONALD', 66),
 ('BULL, BARTLE', 67),
 ('BULL, BARTLE', 68),
 ('BUKOWSKI, DANIEL', 69),
 ('BUISSON, MARGARET', 70),
 ('BUCKLEY, WALTER', 71),
 ('BUCKLEY, MARJORIE', 72),
 ('BRUNO, JOHN', 73),
 ('BRUNO, IRENE', 74),
 ('BROWN, TIMOTHY', 75),
 ('Schuff, Bryan', 76),
 ('Hobbs, James', 77),
 ('Ranganath, Anoop', 78),
 ('Nystrom, Michael', 79),
 ('Muse, Nina', 80),
 ('Waddell, James', 81),
 ('Brucks, William', 82),
 ('Kuehn, David', 83),
 ('Verster, Jeanette', 84),
 ('Uihlein, Richard', 85),
 ('Eskenberry, Robert', 86),
 ('Froehling, Alan', 87),
 ('Duryea, Marcia', 88),
 ('Perreault, Louise', 89),
 ('Rozenfeld, Timur', 90),
 ('Kazor, Christopher', 91),
 ('Lehner, Thomas', 92),
 ('Plummer, Joseph', 93),
 ('Raught, Philip', 94),
 ('Ferrara, Judith', 95),
 ('Johnson, Cathleen', 96),
 ('Sanford, Bradley', 97),
 ('Gaarder, Bruce', 98),
 ('Choe, Hyeokchan', 99),
 ('Jacobs, Richard', 100),
 ('Aaronson, Rebecca', 101),
 ('Aarons, Elaine', 102),
 ('Aarons, Elaine', 103),
 ('Aarons, Elaine', 104),
 ('Aaron, Shirley', 105),
 ('Aaron, Shirley', 106),
 ('Aaronson, Rebecca', 107),
 ('Aaron, Shirley', 108),
 ('Aaron, Shirley', 109),
 ('Aaron, Shirley', 110),
 ('Reid, Elizabeth', 111),
 ('Reich, Thomas', 112),
 ('Aaron, Shirley', 113),
 ('Aaron, Shirley', 114),
 ('Aaron, Sharron', 115),
 ('Aaron, Patricia', 116),
 ('Aaron, Patricia', 117),
 ('Aaron, Jim', 118),
 ('Aaron, Jim', 119),
 ('Aaron, Carole', 120),
 ('Aaron, Carole', 121),
 ('Aaron, Carole', 122),
 ('Aaron, Barbara', 123),
 ('Aanonsen, Lin', 124),
 ('Aanonsen, Lin', 125),
 ('BOURNE, TRAVIS', 126),
 ('SECRIST, BRIAN', 127),
 ('TOLLESTRUP, TRAVIS', 128),
 ('ACCORD, DEAN', 129),
 ('ABTS, HENRY', 130),
 ('ABSHIER, LANNY', 131),
 ('ABSHIER, DIANA', 132),
 ('ABREU, KEVIN', 133),
 ('ABREU, KEVIN', 134),
 ('ABREU, KEVIN', 135),
 ('ABRAMOWITZ, NIRA', 136),
 ('ABRAMS, MICHAEL', 137),
 ('ABRAMOWITZ, KEN', 138),
 ('ABOUBAKARE, NASAR', 139),
 ('ABEGG, PATRICIA', 140),
 ('ABEGG, PATRICIA', 141),
 ('ABEGG, PATRICIA', 142),
 ('ABEGG, PATRICIA', 143),
 ('ABEGG, PATRICIA', 144),
 ('ABEGG, PATRICIA', 145),
 ('ABDELLA, THOMAS', 146),
 ('ABBOTT, WELDON', 147),
 ('ABBOTT, WELDON', 148),
 ('ABBOTT, GERALD', 149),
 ('ABBOTT, GERALD', 150),
 ('ABEDIN, ZAINUL', 151),
 ('ABBOTT, SYBIL', 152),
 ('ABBOTT, SYBIL', 153),
 ('ABBOTT, RONALD', 154),
 ('ABBOTT, RONALD', 155),
 ('ABBOTT, ROBERT', 156),
 ('ABBOTT, MIKE', 157),
 ('ABBOT, DAVID', 158),
 ('ABBO, PAULINE', 159),
 ('ABATE, MARIA', 160),
 ('ABAIR, PETER', 161),
 ('ABACHERLI, SHIRLEY', 162),
 ('AARONS, CHARLES', 163),
 ('AARONS, CHARLES', 164),
 ('AARONS, CHARLES', 165),
 ('ABEL, JOHN', 166),
 ('ABEL, MARLING', 167),
 ('ABEL, RUDOLPH', 168),
 ('ABELE, RODNEY', 169),
 ('ABERCROMBIE, DENIS', 170),
 ('ABESHAUS, MERRILL', 171),
 ('ABRAHAM, GEORGE', 172),
 ('ABRAHAMSON, PETER', 173),
 ('ABRAHAM, SALEM', 174),
 ('ABRAHAM, SALEM', 175)]

In [113]:
alt2 = "UPDATE contributors SET name = ? WHERE id = ?;"
for ele in out2:
    db.cursor().execute(alt2, ele)
db.commit()

In [114]:
out = make_query("SELECT * FROM contributors;")
make_frame(out, cont_cols +["name"]).head()

   id last_name first_name middle_name                street_1 street_2         city state    zip  amount        date  candidate_id           name
0   1      Agee     Steven        None  549 Laurel Branch Road     None        Floyd    VA  24091     500  2007-06-30            16   Agee, Steven
1   2    Ahrens        Don        None    4034 Rennellwood Way     None   Pleasanton    CA  94566     250  2007-05-16            16    Ahrens, Don
2   3    Ahrens        Don        None    4034 Rennellwood Way     None   Pleasanton    CA  94566      50  2007-06-18            16    Ahrens, Don
3   4    Ahrens        Don        None    4034 Rennellwood Way     None   Pleasanton    CA  94566     100  2007-06-21            16    Ahrens, Don
4   5      Akin    Charles        None  10187 Sugar Creek Road     None  Bentonville    AR  72712     100  2007-06-16            16  Akin, Charles

### AGGREGATE

In [115]:
dfcwci.describe()

                zip       amount  candidate_id
count  1.750000e+02   175.000000    175.000000
mean   3.780014e+08     3.418114     28.000000
std    3.628278e+08  1028.418999      7.823484
min    2.474000e+03 -2592.000000     16.000000
25%    9.336700e+04  -175.000000     20.000000
50%    3.233313e+08   100.000000     32.000000
75%    7.816946e+08   300.000000     35.000000
max    9.951532e+08  4600.000000     37.000000

In [116]:
dfcwci.amount.max()

4600.0

In [121]:
dfcwci.groupby('state').sum()

               zip    amount  candidate_id
state
AK      2985459621   1210.00           111
AR          864790  14200.00           192
AZ       860011121    120.00            37
CA     14736360720  -5013.73           600
CO      2405477834  -5823.00           111
CT        68901376   2300.00            35
DC       800341853  -1549.91           102
FL      8970626520  -4050.00           803
IA           50266    250.00            16
ID           83648   -261.00            32
IL      3042068689  -5586.80           175
KS           66215   -330.00            32
KY       402597029   -200.00            22
LA      1406043327   1300.00            74
MA       123026638    -83.00           208
MD       416287617    300.00            55
ME       165647170   2520.00           122
MI      2426973485  -1265.00           164
MN      1102338918    322.00           100
MO           64111    100.00            20
NC           27502    500.00            16
NH        32564424    -24.60            32
NJ        70254993   -817.45            64
NV      3575889763    725.00           144
NY       606129991  -6474.50           233
OH          176071    450.00            80
OK      2202499044    800.00           102
PA       540499020  -2146.00           145
RI        58065892    200.00            70
SC       296214789   2400.00            69
TN           37188    -25.00            32
TX      6221452245   1985.24           302
UT      9251153394   5050.00           340
VA       440691831    515.92           135
WA      2941290251   -500.00            90

In [122]:
dfcwci.groupby('state')['amount'].sum()

state
AK     1210.00
AR    14200.00
AZ      120.00
CA    -5013.73
CO    -5823.00
CT     2300.00
DC    -1549.91
FL    -4050.00
IA      250.00
ID     -261.00
IL    -5586.80
KS     -330.00
KY     -200.00
LA     1300.00
MA      -83.00
MD      300.00
ME     2520.00
MI    -1265.00
MN      322.00
MO      100.00
NC      500.00
NH      -24.60
NJ     -817.45
NV      725.00
NY    -6474.50
OH      450.00
OK      800.00
PA    -2146.00
RI      200.00
SC     2400.00
TN      -25.00
TX     1985.24
UT     5050.00
VA      515.92
WA     -500.00
Name: amount, dtype: float64

In [123]:
dfcwci.state.unique()

array(['VA', 'CA', 'AR', 'DC', 'SC', 'IA', 'OH', 'NC', 'UT', 'MO', 'IL',
       'ME', 'FL', 'MD', 'MI', 'CO', 'WA', 'NY', 'TX', 'KY', 'PA', 'TN',
       'MA', 'MN', 'KS', 'NJ', 'NH', 'ID', 'OK', nan, 'NV', 'CT', 'RI',
       'AK', 'LA', 'AZ'], dtype=object)

In [124]:
db.close()